:root{
    --secondary-black: #272626;
    --main-black: #1c1c1c;
    --secondary-white: #F2F2F2;
    --main-white: #FFFFFF;
    --color-of-elka: #4DA8A9;
    --color-gay: #E6E6E6
}

.top-ico-container {
    height: 39px;
    width: 100px;
}

.menu-container {
    position: relative;
    height: 39px;
    width: 39px;
}

.question-mark-btn {
    background: url('res/INFO.svg') no-repeat;
    height: 39px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/*Бэк дропдаун - сам ты даун*/
.menu-content {
    display: none;
    position: absolute;
    background-color: var(--color-gay); /* --secondary-black*/
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px 0px 20px 20px;
    
}

.dark-theme {
    background: url('res/dark_theme.svg') no-repeat;
    height: 42px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer
}

.menu-container, .darktheme-container {
    display: inline-block;
}




.menu-btn {
    width: 100%;
    color: black;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.menu-btn:hover {
    background-color: #ddd;
}

.menu-ico1{
    margin-left: 5px;
    margin-right: 13px;
}

.menu-ico2{
    margin-right: 10px;
}

.menu-ico3{
    margin-right: 12px;
}

body{
    background-color: black;
}

textarea{
    flex: 1;     
    padding: 10px;     
    font-size: 16px;     
    border: 1px solid #ccc;     
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

button{
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 15%;
    height: 3em;
    margin: 0;
    background-color: #27ae60;
    color: #fff;
    border: 2px solid #27ae60;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    font-family: inherit;
    font-size: 1em;
    transition: 200ms all ease-in;

}

input.hover{
    background-color: #218c5a;
    border-color: #218c5a;
    color: #fff;
}

.submit-button:hover{
    background-color: #218c5a;
    border-color: #218c5a;
    color: #fff;
}

.chat-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9; /* цвет фона сообщений */
}

.submit-button{
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

