.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0f6b68 !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

.text-center{
    color: #0f6b68 !important;
    font-size: 9px !important;
    font-weight: bold !important;
}

.header{
    background-color: #333333  !important;
}


logo {
position: flex !important;
}