<!-- Currently BROKEN!
Working prototype on meesrutten.me :) -->
<head>
  <title>Фото-бот</title>
</head>
<link rel="stylesheet" href="static/css/chatbot.css">
<header class="header">
    <div class="logo-container">
      <div class="logo">
        <img src="/static/img/agr (2).svg" width="80" height="80" alt="image description">
      </div>
    </div>
  <nav class="tabs">
    <a href="/chatbot" class="tab">Chat-Bot</a>
    <a href="/photobot" class="tab-active">Photo-Bot</a>
    <a href="/about" class="tab">About</a>
  </nav>
</header>
<main class="page__main" xmlns:resize="http://www.w3.org/1999/xhtml">
    <div class="block--background">
      <div class="chatbot__overview">
        <ul class="chatlist" id = "chatlist">
          <li class="bot__output bot__output--standard">Hey, I'm Navvy! AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
          <li class="bot__output bot__output--standard">I will guide you through Mees' portfolio!</li>
          <li class="bot__output bot__output--standard">
            <span class="bot__output--second-sentence">You can ask me a bunch of things!</span>

            You could also scroll down to see Mees' full portfolio
          </li>
        </ul>
      </div>
      <div class="chatbox-area">
        <form action="" id="chatform">
          <div class="chatbox-submit-container">
            <label for="upload" class="attach-button">Attach Image</label>
            <input type="file" class="send_img" id="upload" accept="image/*"/>
            <textarea placeholder="Talk to me!" class="chatbox" id="textInput" name="chatbox" resize: none minlength="2"></textarea>
            <input class="submit-button" type="submit" value="send">
          </div>
        </form>
      </div>
    </div>

</main>
<script src="/static/js/chat_bot.js"></script>
<script>
  const fileInput = document.getElementById('upload');
  const attachButton = document.querySelector('.attach-button');

  fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    if (file) {
      attachButton.textContent = file.name;
    } else {
      attachButton.textContent = 'Attach Image';
    }
  });
</script>

