<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/svg" href="/static/img/agr.svg">
  <title>AgroChat | Щелково Агрохим</title>
</head>
<link rel="stylesheet" href="static/css/chatbot.css">

<header class="header">
  <div class="logo-container">
    <div class="logo">
      <img class="logo_img" src="/static/img/svg-editor-image%20(1).svg" width="75" height="75" alt="image description">
    </div>
  </div>
  <nav class="tabs">
    <a href="/photobot" class="tab-active">AgroChat</a>
    <a href="https://betaren.ru/about/" class="tab">О нас</a>
  </nav>
</header>
<main class="page__main" xmlns:resize="http://www.w3.org/1999/xhtml">
  <div class="block--background">
    <div class="chatbot__overview">
      <ul class="chatlist" id="chatlist">
        <li class="bot__output bot__output--standard">Hey, I'm Navvy! AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
        <li class="bot__output bot__output--standard">I will guide you through Mees' portfolio!</li>
        <li class="bot__output bot__output--standard">
          <span class="bot__output--second-sentence">You can ask me a bunch of things!</span>

          You could also scroll down to see Mees' full portfolio
        </li>
      </ul>
    </div>
    <div class="chatbox-area">
      <form method="POST" id="chatform">
        <div class="chatbox-submit-container" >
          <label for="upload" class="attach-button">Прикрепить изображение</label>
          <input type="file" class="send_img" id="upload" accept="image/*"/>
          <input type = "text" placeholder="Введите текст" class="chatbox" id="textInput" name="user_text"  minlength="2">
          <button class="submit-button" type="submit" value="Отправить" onclick="get_user_text()"></button>
        </div>
      </form>
    </div>
  </div>
</main>

</html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/chat_bot.js"></script>
<script>
  function get_user_text() {
  $.ajax({
    type: "POST",
    url: "{{url_for('get_user_text')}}",
    data: {"user_text":textInput.value.toLowerCase()}

  })
}

  function get_bot_text() {
  $.ajax({
    type: "POST",
    url: "{{url_for('get_bot_text')}}",
    data: {"bot_text": $(".bot__output").last().text()}

  })
}
  sendForm.onkeydown = function(e) {
  if (e.keyCode === 13) {
    e.preventDefault();

    // No mix ups with upper and lowercases
    var input = textInput.value.toLowerCase();

    // Empty textarea fix
    if (input.length > 0) {
      get_user_text();
      createBubble(input);
    }
  }
};

    // Проверяем, принято ли пользовательское соглашение
    var savedValue = localStorage.getItem('checkboxValue');

    if (savedValue !== 'true') {
        // Если соглашение не принято, перенаправляем пользователя на страницу принятия соглашения
        window.location.href = "/about";
    }




</script>